@import "../assets/styles/Global.scss";

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  row-gap: 6px;
  place-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 32px;
}

.mini-board {
  display: grid;
  margin: 0rem;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
  place-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;

  &.active {
    opacity: 1;
  }
  &.inactive {
    opacity: 0.32;
  }

  &.completed {
    opacity: 1;
  }
  &.completed-dimmed {
    opacity: 0.64;
  }
}

@media (max-width: 600px) {
  .board {
    grid-gap: 3px;
    border-radius: 16px;
  }

  .mini-board {
    grid-gap: 1px;
    border-radius: 8px;
  }
}
