@import "../assets/styles/Global.scss";

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  row-gap: 6px;
  place-items: center;
  justify-content: center;
}

.mini-board {
  display: grid;
  margin: 0rem;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
  place-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;

  &.active {
    opacity: 1;
    transform: scale(1.005);
  }
  &.inactive {
    opacity: 0.32;
    transform: scale(0.995);
  }

  &.completed {
    opacity: 1;
    transition: all 2440ms ease;
  }
  &.completed-dimmed {
    opacity: 0.64;
  }
}

.border-0 {
  border-radius: 24px 8px 8px 8px;
}
.border-2 {
  border-radius: 8px 24px 8px 8px;
}
.border-8 {
  border-radius: 8px 8px 24px 8px;
}
.border-6 {
  border-radius: 8px 8px 8px 24px;
}

@media (max-width: 740px) {
  .board {
    grid-gap: 4px;
  }

  .mini-board {
    grid-gap: 1.4px;
    border-radius: 6px;
  }

  .border-0 {
    border-radius: 16px 6px 6px 6px;
  }
  .border-2 {
    border-radius: 6px 16px 6px 6px;
  }
  .border-8 {
    border-radius: 6px 6px 16px 6px;
  }
  .border-6 {
    border-radius: 6px 6px 6px 16px;
  }
}
