@import "./assets/styles/Global.scss";

* {
  box-sizing: border-box;
  transition: all 512ms ease;
  font-family: $TypeFamily;
}

body {
  margin: 0;
  background-color: #0b0f0e;
}

.bg-x {
  background-color: lighten($PlayerXDark, 4%);
}

.bg-o {
  background-color: lighten($PlayerODark, 4%);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 2rem 2rem 3rem 2rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  margin-top: 3rem;
  margin-bottom: -1.5rem;
  transition: margin 512ms ease, width 512ms ease, height 512ms ease;

  &.logo-x {
    color: $PlayerXLight;
  }

  &.logo-o {
    color: $PlayerOLight;
  }

  &.logo-timer-active {
    height: 4rem;
    width: 4rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.header {
  position: absolute;
  bottom: auto;
  right: 0%;
  left: 0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  top: auto;
  right: 0%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-modal {
  width: 100%;
  height: 100%;
  background-color: rgba($PlayerXDark, 64%);
  z-index: 1;
  position: absolute;
  padding: 32px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  backdrop-filter: blur(40px);
  font-size: 6rem;
  display: flex;
  flex-direction: column;
}

.o-winner {
  color: $PlayerOBase;
}

.x-winner {
  color: $PlayerXBase;
}

.timer-fade-in {
  opacity: 0;
  visibility: hidden;
  transition: all 512ms ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 704px) {
  .app {
    padding: 1rem 0.5rem 1.5rem 0.5rem;
  }

  .logo {
    height: 4.5rem;
    width: 4.5rem;

    &.logo-timer-active {
      height: 3rem;
      width: 3rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .game-over-modal {
    font-size: 3rem;
    padding: 16px;
  }

  .footer {
    padding: 1rem;
  }
}
