//Player X colours
$PlayerXBase: #caa0ff;
$PlayerXLight: #463c52;
$PlayerXDark: #0e0b0f;

//Player O colours
$PlayerOBase: #8efff1;
$PlayerOLight: #3b4846;
$PlayerODark: #0b0f0e;

//Typography
$TypeFamily: "Space Mono", monospace;

//Strokes
$BaseStrokeWidth: 1px;
$IconStrokeWidth: 1px;

$borderColor: $PlayerXBase .border {
  outline: $borderColor;
}
