//Player X colours
$PlayerXBase: #caa0ff;
$PlayerXLight: #463c52;
$PlayerXDark: #0e0b0f;

//Player O colours
$PlayerOBase: #8efff1;
$PlayerOLight: #3b4846;
$PlayerODark: #0b0f0e;

//Typography
$TypeFamily: "Space Grotesk", monospace;
@font-face {
  font-family: "Space Grotesk";
  src: url("/src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

//Strokes
$BaseStrokeWidth: 1px;
$IconStrokeWidth: 1px;
$borderColor: $PlayerXBase;
